*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
}
body{
    width:100vw;
    height:100vh;
    overflow:hidden;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 16px;
    color:#333;
    background-color: #f5f5f5;
    display: flex;
}
.container .gridBox{
    display:flex;
    flex-wrap: wrap;
    width:100vh;
}
.container .gridBox div{
    background-color: beige;
}

.buttonpannel{
    display: flex;
    flex-direction: column;
gap:70px;
justify-content: center;
    align-items: center;
}
.buttonpannel button{
    width:fit-content;
    padding: 10px;
    background: rgb(251, 251, 233);
    border-radius: 10px;
}